.vscode/tasks.json
.vscode/settings.json
.vscode/tasks.json
Debug/homeChat.exe
Debug/homeChat.pdb
homeChat/Debug/Chat.obj
homeChat/Debug/chat.obj.enc
homeChat/Debug/homeChat.exe.recipe
homeChat/Debug/homeChat.ilk
homeChat/Debug/homeChat.log
homeChat/Debug/homeChat.obj
homeChat/Debug/Message.obj
homeChat/Debug/User.obj
homeChat/Debug/vc143.idb
homeChat/Debug/vc143.pdb
homeChat/Debug/homeChat.tlog/CL.command.1.tlog
homeChat/Debug/homeChat.tlog/CL.read.1.tlog
homeChat/Debug/homeChat.tlog/CL.write.1.tlog
homeChat/Debug/homeChat.tlog/homeChat.lastbuildstate
homeChat/Debug/homeChat.tlog/link.command.1.tlog
homeChat/Debug/homeChat.tlog/link.read.1.tlog
homeChat/Debug/homeChat.tlog/link.write.1.tlog
homeChat/x64/Debug/Chat.obj
homeChat/x64/Debug/chat.obj.enc
homeChat/x64/Debug/homeChat.exe.recipe
homeChat/x64/Debug/homeChat.ilk
homeChat/x64/Debug/homeChat.log
homeChat/x64/Debug/homeChat.obj
homeChat/x64/Debug/Logger.obj
homeChat/x64/Debug/Message.obj
homeChat/x64/Debug/Messege.obj
homeChat/x64/Debug/User.obj
homeChat/x64/Debug/vc143.idb
homeChat/x64/Debug/vc143.pdb
homeChat/x64/Debug/homeChat.tlog/CL.command.1.tlog
homeChat/x64/Debug/homeChat.tlog/CL.read.1.tlog
homeChat/x64/Debug/homeChat.tlog/CL.write.1.tlog
homeChat/x64/Debug/homeChat.tlog/homeChat.lastbuildstate
homeChat/x64/Debug/homeChat.tlog/link.command.1.tlog
homeChat/x64/Debug/homeChat.tlog/link.read.1.tlog
homeChat/x64/Debug/homeChat.tlog/link.write.1.tlog
x64/Debug/homeChat.exe
x64/Debug/homeChat.pdb
